[Unit]
Description=MobiControl for Linux
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/bin/bash /services/mobicontrol/etc/mobicontrol/mobicontrol-init.sh
ExecStart=/wfs/mobicontrol/usr/opt/MobiControl/mobicontrol
Restart=on-failure

[Install]
WantedBy=multi-user.target