[Unit]
Description=Tailscale Startup Service
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'ln -sf /services/tailscale/usr/bin/tailscale /usr/bin/tailscale && ln -sf /services/tailscale/usr/sbin/tailscaled /usr/sbin/tailscaled && ln -sf /services/tailscale/lib/systemd/system/tailscaled.service /lib/systemd/system/tailscaled.service'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target