[Desktop Entry]
Type=Action
Name=Unzip Here
Icon=package-x-generic
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=application/zip;
Exec=/usr/bin/unzip -o %f -d %d