[Unit]
Description=Socket daemon for the usbmux protocol used by Apple devices

[Service]
Type=oneshot
RemainAfterExit=Yes
ExecStart=/usr/sbin/usbmuxd --user usbmux --systemd